# fixes import issues with paramiko
fabric==1.13.1
delorean==0.6.0
requests[security]==2.3.0
PyYAML==3.10

# the following dependencies are only for testing

responses==0.5.0
# required for package 'responses'
mock==2.0.0
# required for package 'behave'
pyhamcrest==1.8.5
# the commit of 27/07/2016 compared to 'behave==1.2.5' supports behave4cmd0.command_steps and scenario.continue_after_failed_step
-e git+https://github.com/behave/behave.git@e53493c#egg=behave

testinfra
